[submodule "AVR++"]
	path = AVR++
	url = https://github.com/cinderblock/AVR.git
[submodule "uMaker"]
	path = uMaker
	url = https://github.com/cinderblock/uMaker.git
[submodule "libCameron"]
	path = libCameron
	url = https://github.com/cinderblock/libCameron.git
[submodule "lufa"]
	path = lufa
	url = https://github.com/abcminiuser/lufa.git
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/cinderblock/usb-dfu.git
[submodule "Calibration-Tool"]
	path = Calibration-Tool
	url = https://github.com/cinderblock/3-Phase-Calibration-Tool.git
[submodule "node-api"]
	path = node-api
	url = https://github.com/cinderblock/smooth-control.git
