[submodule "AVR++"]
	path = AVR++
	url = https://github.com/cinderblock/AVR.git
[submodule "uMaker"]
	path = uMaker
	url = https://github.com/cinderblock/uMaker.git
[submodule "FilebotInterface"]
	path = FilebotInterface
	url = git@lab.isozilla.com:twill/FilebotInterface.git
